<input type="hidden" name="s-cap" value="{{token}}">
{{{captchaSVG}}}
<a href="javascript:"><span id="captchaRefresh"><i class="icon anticon icon-sync" style="font-weight:700;color:#184a80"></i></span></a>